@font-face {
    font-family: Pixels;
    src: url("content/jersey10.ttf");
}

html::after {
    border: 8px solid #0a1109;
    content: "";
    inset: 0;
    position: fixed;
    pointer-events: none;

}

body {
    background-image: url("content/wallp.png");
    color: rgb(255, 255, 255);
    font-family: Pixels;
}

button {
    color: #e3ffda;
    border: 5px solid #e3ffda;
    background-color: #242424;
    box-shadow: 5px 5px 0 0px #0a1109;
    text-transform: uppercase;
    font-family: Pixels;
    font-size: 30px;
    cursor: pointer;
    width: 130px;
    margin-left: 10px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #171717;
    box-shadow: 0px 0px 0 0px #0a1109;
}

h1 {
    pointer-events: none;
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #e3ffda;
    text-transform: uppercase;
    font-size: 130px;
    width: max-content;
    text-shadow: 5px 5px 0 #0a1109;
}

#content {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

#menus {
    position: fixed;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a3028;
    border: 5px solid #e3ffda;
    box-shadow: 5px 5px 0 0px #0a1109;
}

.gray {
    color: #cdcdcd;
}

#buttons {
    position: fixed;
    top: calc(50% + 75px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#buttons button:hover {
    transform: translate(5px, 5px);
}

div p {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

#d-menu {
    position: fixed;
    top: 65px;
    left: 25px;
}

#d-menu p {
    position: static;
    transform: translateX(20%);
    text-align: left;
    font-size: 30px;
}

#menus h1 {
    position: fixed;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 40px;
}

#d-menu button:hover {
    transform: translate(5px, 5px);
}

#link {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
